---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---
    <div class="row main">
        <div id="bio" class="one-third column">
          <h3>Hi, I'm Ezra.</h3>
          <p>
            I lead growth at <a href="https://glitch.com/@ezramechaber">Glitch 🎏</a>, a code editor and community where everyone can build the web. That's my dog, Dixon.
          </p>
          <p>
            I've spent my career (<a href="/resume">🔗</a>) helping organizations reach their audiences online, building out digital marketing and communications teams with a focus on civic tech.
          </p>
          <p>
            Prior to Glitch, I led teams at the ACLU, Precision Strategies, and President Barack Obama's Office of Digital Strategy where I led product for the We the People petitions program.
          </p>
          <p>
            For speaking, words, or other things, get in touch at
            <a href="https://twitter.com/ezramechaber">@ezramechaber</a> or <a href="mailto:contact@ezramechaber.com">email</a> me.
          </p>
        </div>
        <div id="photo" class="two-thirds column">
          <img src="https://cdn.glitch.com/a7fc6184-2a73-4230-89ec-d4650844ea7e%2Fsplash.jpg?1552846661773" alt="Looking to adopt in NYC? Check out Badass Brooklyn Animal Rescue." />
        </div>
    </div>
      <div class="row section last">
        <div class="twelve columns">
          <h4>Extracurriculars</h4>
        </div>
      </div>
      <div class="row">
        <div class="three columns">
          <h5>Digital Projects</h5>
        </div>
        <div class="nine columns">
          <ul class="no-decoration">
            <li>
              <a href="http://shouldieditmyownwikipediapage.com/">Should I Edit My Own Wikipedia Page?</a><br />
              <em>Probably not</em>
            </li>
            <li>
              <a href="https://glitch.com/~authentic-ideas">Authentic Candidate Digital Ideas</a><br />
              <em>Automating your 2020 strategy</em>
            </li>
            <li>
              <a href="https://glitch.com/~sign-bunny">Sign Bunny Generator</a><br />
              <em>2014 memes in 2019</em>
            </li>
            <li>
              <a href="https://glitch.com/~sound-board">808s and Code Mistakes</a><br />
              <em>Dead-simple TR-808 soundboard that's easy to customize</em>
            </li>
            <li>
              <a href="https://glitch.com/~validate">HTML Validator</a><br />
              <em>Quick and dirty HTML validator</em>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="three columns">
          <h5>Speaking</h5>
        </div>
        <div class="nine columns">
          <ul class="no-decoration">
            <li>
              Liberal Party of Canada Bootcamp<br />
              <em>Featured Trainer, Digital Campaigning</em>
            </li>
            <li>
              Social Media Weekend at CUNY J-School<br />
              <em>Panelist, Digital Politics</em>
            </li>
            <li>
              Columbia Business School<br />
              <em>Guest Lecturer, The Marketing of an American President</em>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="three columns">
          <h5>Et cetera</h5>
        </div>
        <div class="nine columns">
          <ul class="no-decoration">
            <li>
              <a href="https://medium.com/@ezramechaber/frannys-last-night-in-town-34ee3fcf20ea/">Franny's Last Night in Town</a><br />
              <em>[Written] A love letter to my favorite Brooklyn
                restaurant</em>
            </li>
            <li>
              <a href="https://www.theringer.com/music/2017/11/8/16621926/hearing-both-sides-of-taylor-swift">Hearing Both Sides of Taylor Swift</a><br />
              <em>[Interviewed] Can a pop star afford to stay apolitical in our
                current climate?</em>
            </li>
            <li>
              <a href="https://www.huffpost.com/entry/crickets-new-york-subway-zaida-pugh_n_57c0a0e0e4b02673445011fa">Crickets on a Train</a><br />
              <em>[Interviewed] I am a New Yorker now</em>
            </li>
            <li>
              <a href="https://soundcloud.com/obamawhitehouse/sets/in-performance-at-the-white">Women of Soul: Live at the White House</a><br />
              <em>[Recorded] Jill Scott, Ariana Grande, and more in glorious 320kbps.</em>
            </li>
          </ul>
        </div>
        </div>
      </div>
