---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---
<div class="row main">
        <div class="twelve column">
          <h3>Ezra Mechaber</h3>
        </div>
      </div>
<div class="row main">
        <div id="bio" class="two-thirds column">
          <p>
            Brooklyn-based digital human, leading growth marketing for
            <a href="https://glitch.com/@ezramechaber">Glitch 🎏</a>, a code editor and community where everyone can build the web.
          </p>
          <p>
            Before that, I led teams at the ACLU, Precision Strategies, and President Barack Obama's Office of Digital Strategy where I led product for the We the People petitions program.
          </p>
          <p>
            <span style="vertical-align:middle;">🎨</span> <a href="https://www.ezramechaber.com/">Side projects/speaking/writing</a>
          </p>
          <p>
            <span style="vertical-align:middle;">✉️</span> <a href="mailto:contact@ezramechaber.com">contact@ezramechaber.com</a>
          </p>
          <p>
            <span style="vertical-align:middle;">📄</span> <a href="https://cdn.glitch.com/a7fc6184-2a73-4230-89ec-d4650844ea7e%2FEzra%20Mechaber%20-%20Resume%20v2019.pdf?v=1558549815321">Need a PDF?</a>
          </p>
        </div>
        <div id="photo" class="one-third column">
          <img src="https://cdn.glitch.com/a7fc6184-2a73-4230-89ec-d4650844ea7e%2Fsplash.jpg?1552846661773" alt="Looking to adopt in NYC? Check out Badass Brooklyn Animal Rescue." />
        </div>
      </div>
      <div class="row section last">
        <div class="twelve columns">
          <h4>Work Experience</h4>
        </div>
      <div class="row job">
        <div class="three columns job-overview">
          <h5 class="company">Glitch</h5>
          <p class="title">
            Growth Marketing Lead
          </p>
          <p class="date-range">
            March 2019—Present
          </p>
          <p>
            <a href="https://www.glitch.com/">🔗</a>
          </p>
        </div>
        <div class="nine columns">
          <ul class="no-decoration">
            <li>
              Grow users in ways that stays true to company’s core values around ethical tech.
            </li>
            <li>
              Run sitewide experiments, analyze user cohorts, and drive product decisions that acquire and retain users.
            </li>
            <li>
              Develop creative sites and initiatives that drive user growth with humor, activism, and cultural relevance.
            </li>
          </ul>
        </div>
      </div>
      <div class="row job">
        <div class="three columns job-overview">
          <h5 class="company">ACLU</h5>
          <p class="title">
            Deputy Digital Director
          </p>
          <p class="date-range">
            November 2017—February 2019
          </p>
          <p>
            <a href="https://www.aclu.org/">🔗</a>
          </p>
        </div>
        <div class="nine columns">
          <ul class="no-decoration">
            <li>
              Managed ten-person team within ACLU Communications unit. Managed $7.6 million departmental budget.
            </li>
            <li>
              Partnered with the Analytics team to experiment and analyze across platforms to build a data-driven culture. Grew email list by 30%, and took SMS list from 30,000 to 200,000 in six months.
            </li>
            <li>
              Led the ACLU’s largest-ever online voter engagement program for 2018 midterms, working alongside Product, Political, and Analytics teams. Oversaw $2.1 million advertising budget.
            </li>
          </ul>
        </div>
      </div>
      <div class="row job">
        <div class="three columns job-overview">
          <h5 class="company">Precision Strategies</h5>
          <p class="title">
            Principal
          </p>
          <p class="date-range">
            February 2015—November 2017
          </p>
          <p>
             <a href="https://www.precisionstrategies.com/">🔗</a>
          </p>
          
        </div>
        <div class="nine columns">
          <ul class="no-decoration">
            <li>
              Led digital advocacy and communications consulting projects. Coordinated digital, communications, and data teams for nonprofits, political campaigns, and Fortune 50 companies t0 strengthen client positioning.
            </li>
            <li>
              Oversaw three cross-functional client teams at any given time. Responsible for ensuring effective campaigns that came within budget, were delivered on-time, and advanced client goals.
            </li>
          </ul>
        </div>
        </div>
       <div class="row job">
         <div class="three columns job-overview">
          <h5 class="company">The White House</h5>
          <p class="title">
            Deputy Director of Email and Petitions
          </p>
          <p class="date-range">
            September 2011—January 2015
          </p>
          <p>
             <a href="https://obamawhitehouse.archives.gov/">🔗</a>
          </p>
          
        </div>
        <div class="nine columns">
          <ul class="no-decoration">
            <li>
              Ran campaigns to amplify White House priority initiatives online.
            </li>
            <li>
              Product manager for 16-million-user petitions platform We the People that drove half of all WhiteHouse.gov monthly traffic. Developed official policy responses resulting in public support for net neutrality.
            </li>
            <li>
              Worked across departments to help maximize the White House’s Salesforce CRM and email marketing tool implementation.
            </li>
            <li>Led email marketing to 4 million subscribers. Wrote emails on behalf of President Obama and Vice President Biden. Doubled the email list size.
            </li>
            <li>Optimized UX for WhiteHouse.gov, email, and social platforms through A/B testing, analytics tracking, and user feedback sessions to improve online engagement with the public.
            </li>
          </ul>
        </div>
      </div>
      <div class="twelve columns">
        <h4>Education</h4>
      </div>
      <div class="twelve columns job-overview">
          <h5 class="company education">University of Rochester</h5>
          <p class="date-range">
            August 2007—May 2011
          </p>
        <ul class="no-decoration">
            <li>
              Bachelor of Arts, Political Science and Religion (cum laude, high distinction)
            </li>
            <li>
              Honors: <em>Dean’s List (2007 – 2011), Theta Alpha Kappa Honor Society, Rush Rhees Grant</em>
            </li>
          </ul>
        </div>  
      </div>
